@model Berber_Shop.Models.Calisan

@{
    ViewData["Title"] = "Add New Employee";
}

<div class="container mt-5">
    <h1 class="text-center mb-4">Add New Employee</h1>
    <form method="post">
        <div class="mb-3">
            <label for="ad" class="form-label">Ad:</label>
            <input type="text" class="form-control" name="Ad" id="ad" required />
        </div>
        <div class="mb-3">
            <label for="soyad" class="form-label">Soyad:</label>
            <input type="text" class="form-control" name="Soyad" id="soyad" required />
        </div>
        <div class="mb-3">
            <label for="hizmetId" class="form-label">Service:</label>
            <select name="HizmetId" class="form-control" id="hizmetId" required>
                @foreach (var hizmet in ViewBag.Hizmetler)
                {
                    <option value="@hizmet.Id">@hizmet.Ad</option>
                }
            </select>
        </div>
        <button type="submit" class="btn btn-success">Add Employee</button>
    </form>
</div>
